
.nav_2{
  width: 100%;
  height: 600px;
  background-color:white;
}


.free{
  width: 100%;
  height: 40px;
  color: white;
  background-color: #12294f;
  text-align: center;
}

/* coursal---------------------------------------------------------------- */


#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  
}

body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
 
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
 

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 60%;
  object-fit: cover;
}
.nav_a{
  text-align: center;
}


/* line3----------------------------- */


.main3{
  width: 100%;
  height: 500px;
  text-align: center;
  background-color: #fde7f6;
  
}
.nav{
  margin-top: 4%;
  display: flex;
  /* width: 100%; */

  margin-left: 32%;
  
  
}
.nav4{
  width: 330px;
  height: 440px;
}
.nav5{
  margin-bottom: 140px;

}
.main_1{
  background-color: white;
  width: 250px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.nav1{
text-align: center;
}
.nav2{
  text-align: center;
  margin-top: 3%;
  }



  /* line5-------------------------------------------------------------------- */



  .main4{
    display: flex;
    width: 90%;
    height: 650px;
   margin: auto;
    
}
/* .nav_1a{
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.nav_2a{
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */



/* line7--------------------------------------------------------------- */




.main_4a{
  display: flex;
  width: 90%;
  height: 500px;
  /* background-color: aqua; */
  margin: auto;
}
.nav_1c{
  width: 56%;
  height: 500px;
  margin-left: 2%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* margin: auto; */
  
}
.nav_2c{
  width: 50%;
  height: 500px;
  margin-top: 9%;
  margin-left: 3%;
  /* margin: auto; */
}

/* last-line---------------------------------------------------------------- */


.main_4b{
  display: flex;
  /* background-color: aqua; */
  width: 90%;
  height: 580px;
margin: auto;

}
.nav_1d{
  margin-left: 2%;
}
.nav_2d{
  margin-left: 2%;
}
.nav_3d{
  margin-left: 2%;
}
.nav_b{
  font-size:larger
}
.nav_e{
  font-size: xx-large;
  text-align: center;
}
.nav_c{
  font-size: medium;
}



