.mainDiv{
    border: 2px solid black;
    display: flex;
    height: 800px;
    justify-content: space-between;
}

.mainDiv > div{
    border: 2px solid blue;
width: 50%

}

.mainDiv > div:first-child{
    margin-right: 20px;
}